*{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
    background-image: url('../src/bg.jpg');
    background-position: center;
    background-size: cover;
}
.covidlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: rgb(39, 177, 170);
    -webkit-box-shadow: 8px 8px 20px 5px rgba(29, 173, 140, 0.28);
    -moz-box-shadow: 8px 8px 20px 5px rgba(2,161,124,0.28);
    box-shadow: 8px 8px 20px 5px rgba(2,161,124,0.28);
}
.container {
    margin: 50px 0;
}
.card{
    margin: 0 2% !important;
    
  }
  
  .infected {
    border: 4px solid rgb(0, 0, 0); 
  }

  .recovered{
    border: 4px solid rgb(0, 0, 0);
  }
  
  .deaths{
    border: 4px solid rgb(0, 0, 0);
  }

.chartcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 65%;
  position: relative;
  left: 20%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
.formControl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  left: 35%;
  right: 0;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
      border-radius: 20px;
    }
    .card {
        margin: 2% 0 !important;
    }
    .chartcontainer{
      width: 80%;
      position: relative;
      left: 8%;
      right: 0;
      padding: 5px;
      overflow: hidden;
    }
}  